extends ../layout/main.pug

block variables
  - var activePage = 'cotizaciones'
  - var title = 'Cotización - ERP'

block content
  .d-flex.justify-content-between.align-items-center.mb-4
    h2.fw-bold(style="color: var(--color-dark-teal);") Visualizador de Cotización
    div
      button.btn.btn-primary-custom.me-2(type="button", onclick=`descargarPDF('Cotizacion_${String(cotizacion.id).padStart(5, '0')}.pdf')`)
        i.fa-solid.fa-file-pdf.me-2
        | Descargar PDF
      a.btn.btn-secondary(href="/cotizaciones/consultas")
        i.fa-solid.fa-arrow-left.me-2
        | Volver al Historial

  .row
    .col-md-9.mx-auto
      .a4-container#printableArea
        .company-header.d-flex.justify-content-between.align-items-center
          div
            .brand-title Mi Empresa ERP
            p.text-muted.mb-0 Soluciones Integrales
          div.text-end.invoice-details
            h3.fw-bold COTIZACIÓN
            p Folio: 
              strong C-#{String(cotizacion.id).padStart(5, '0')}
            p Fecha: #{new Date(cotizacion.fecha_emision).toLocaleDateString('es-MX')}
            p Vigencia: #{cotizacion.vigencia_dias} días

        .row.mb-4
          .col-sm-6
            h6.fw-bold Preparado para:
            p.mb-1 
              strong #{cotizacion.cliente_nombre}
            p.mb-1 #{cotizacion.cliente_razon_social || ''}
            p.mb-1 #{cotizacion.cliente_rfc ? 'RFC: ' + cotizacion.cliente_rfc : ''}
            p.mb-1 #{cotizacion.cliente_direccion || ''}
            p.mb-1 #{cotizacion.cliente_email || ''}
          .col-sm-6.text-end
            h6.fw-bold Vendedor:
            p.mb-1 #{cotizacion.cajero_nombre}

        table.table.table-bordered.mt-4
          thead.table-light
            tr
              th.text-center Cant.
              th Descripción
              th.text-end P. Unitario
              th.text-end Importe
          tbody
            if detalles && detalles.length > 0
              each item in detalles
                tr
                  td.text-center #{item.cantidad}
                  td #{item.producto_nombre}
                  td.text-end $#{item.precio_unitario}
                  td.text-end $#{item.importe_linea}
            else
              tr
                td(colspan="4").text-center Sin detalles.

        .row.mt-4
          .col-sm-7
            p.text-muted.small 
              strong Condiciones comerciales:
              br
              | Precios en moneda nacional (MXN).
              br
              | Esta cotización tiene una vigencia de #{cotizacion.vigencia_dias} días naturales tras su emisión.
              br
              | Cualquier discrepancia o modificación requerirá de una nueva cotización.
          .col-sm-5
            table.table.table-sm.table-borderless.text-end
              tr
                td Subtotal:
                td.fw-bold $#{cotizacion.subtotal}
              tr
                td IVA (16%):
                td.fw-bold $#{cotizacion.iva}
              tr.border-top
                td.fs-5.fw-bold TOTAL:
                td.fs-5.fw-bold.text-primary $#{cotizacion.total}

        .mt-5.text-center
          br
          br
          p.mb-0 _________________________________________
          p.small Firma de Aceptación

block scripts
  script(src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js")