extends layout/main.pug

block variables
  - var activePage = 'productos'
  - var title = 'Productos - ERP'

block content

          h2.mb-4 Gestión de Productos

          .row
            .col-md-4
              .card.shadow.border-0
                .card-header.bg-white.fw-bold
                  | Agregar Producto
                .card-body
                  form(action="/productos/add", method="POST")
                    .mb-3
                      label.form-label Nombre del Producto
                      input.form-control(type="text", name="nombre", required)
                    .mb-3
                      label.form-label Stock
                      input.form-control(type="number", name="stock", required)
                    .mb-3
                      label.form-label Precio ($)
                      input.form-control(type="number", step="0.01", name="precio", required)
                    button.btn.btn-success.w-100(type="submit") Añadir

            .col-md-8
              .card.shadow.border-0
                .card-body
                  h5.mb-3 Inventario de Productos
                  table.table.table-hover
                    thead.table-light
                      tr
                        th ID
                        th Nombre
                        th Stock
                        th Precio
                    tbody
                      if productos && productos.length > 0
                        each prod in productos
                          tr
                            td #{prod.id}
                            td #{prod.nombre}
                            td(class=prod.stock < 10 ? 'text-danger fw-bold' : '') #{prod.stock}
                            td $#{prod.precio}
                      else
                        tr
                          td(colspan="4").text-center.text-muted No hay productos registrados
